fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
python-multipart
python-dotenv
pymupdf
sentence-transformers
faiss-cpu
langchain-openai
langchain-groq
langchain-core
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
fpdf2